/* *{
    margin: 0;
}*/

/* stile header */
#testata{
    background-image: url(../img/pattern.png);
    background-color: #4994EC;
    background-position: top;
    padding: 80px 0 0 0;
    height: 80px;
}

#logo{
    width: 200px;
    
}

/* stile main */
/* stile intestazione articolo */

.intestazione-articolo .titolo{
    font-size: 80px;
}
.intestazione-articolo h3{
    color: #ccc;

}
.intestazione-articolo h3 span{
    color: blue;

}
.intestazione-articolo .sottotitolo{
    color: #ccc;

}

/* stile immagine articolo */

.immagini-articolo img{
    margin: 10px;
    float: left;
    width: calc(100% / 2 - 20px);
    height: 800px;
}

.didascalia_immagine{
    font-size: 18px;
}

/* contenuto articolo stile  */

.contenuto-articolo{
    font-size: 28px;
    font-weight: 400;
}

/* stile tabella */
.testata{
    background-color: blue;
    color: white;
}
.corpo{
    background-color: aqua;

}

/* stile footer */
.contenitore-immagine{
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    
}

#schermo{
    background-image: url(../img/monitor.jpg);
}

 #grafico{
     background-image: url(../img/graph.jpg);
 }





